html,
body,
#root,
#routes,
.App {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

.App {
  display: flex;
}

.left {
  background-color: white;
  padding: 36px;
  width: 60%;
  height: 100%;
}

.intro {
  font-size: 16px;
}

.experiences {
  margin-top: 36px;
}

.experiences .wrapper {
  display: flex;
  margin-top: 12px;
}

.experiences .period {
  width: 20%
}

.experiences .title {
  color: #4d0000;
  font-size: 20px;
  font-weight: bold;
}

.right {
  background-color: maroon;
  width: 40%;
  height: 100%;
  color: white;
}
.right .head {
  padding: 36px;
}
.right .profession {
  font-size: 20px;
}

.contato .title {
  background-color: #4d0000;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
}
.contato .title span {
  padding-left: 24px;
}

.contato .wrapper {
  padding: 36px;
}

.contato .key {
  font-weight: bold;
  margin-bottom: 8px;
}

.contato .item {
  margin-bottom: 25px;
}
